// # Front-end Style Guide
// ## Layout
// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Pale blue: hsl(225, 100%, 94%)
// - Bright blue: hsl(245, 75%, 52%)

// ### Neutral
// - Very pale blue: hsl(225, 100%, 98%)
// - Desaturated blue: hsl(224, 23%, 55%)
// - Dark blue: hsl(223, 47%, 23%)

// ## Typography
// ### Body Copy
// - Font size (paragraph): 16px

// ### Font
// - Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
// - Weights: 500, 700, 900

@import 'functions';
@import 'mixins';

$font-size: 16;

* {
  font-family: 'Red Hat Display', sans-serif;
  font-size: concat($font-size, 'px');
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  background-image: url('./../../images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  min-width: pxToRem(375);
  max-width: pxToRem(375);
  border-radius: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  &__figure {
    margin: 0;
    &--icon {
      grid-row: 2/4;
      grid-column: 1/4;
    }
  }
  &__image {
    width: 100%;
  }
  &__body {
    @include body-footer(80%);
  }
  &__footer {
    @include body-footer(90%);
  }
  &__wrapper {
    @include body-footer(90%);
  }
  &__title {
    color: hsl(223, 47%, 23%);
    font-size: 1.5rem;
    font-weight: 900;
    &--plan {
      font-size: 1rem;
      grid-row: 2/3;
      grid-column: 4/9;
      align-self: center;
      justify-self: start;
    }
  }
  &__text {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    line-height: 1.6rem;
    font-size: 0.9rem;
    &--price {
      grid-row: 3/4;
      grid-column: 4/9;
      align-self: center;
      justify-self: start;
    }
  }
  &__stats {
    @include body-footer(90%);
    display: grid;
    grid-template-columns: repeat(12, 8.33333%);
    grid-template-rows: 1.2rem 1.5rem 1.5rem 1.2rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.75rem;
    margin-top: 1.3rem;
    margin-bottom: 1.7rem;
  }
  &__link {
    color: hsl(245, 75%, 52%);
    font-weight: 900;
    font-size: 0.9rem;
    grid-row: 2/4;
    grid-column: 10/13;
    align-self: center;
    justify-self: start;
    font-size: 0.8rem;
  }

  &__button {
    display: block;
    border: none;
    padding: 1rem;
    width: 90%;
    margin: 0 auto 1.5rem;
    border-radius: 0.75rem;
    box-shadow: pxToRem(3) pxToRem(15) pxToRem(15) hsl(225, 100%, 94%);
    font-weight: 700;
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    cursor: pointer;
    &--cancel {
      padding-top: 0.5rem;
      background-color: #fff;
      color: hsl(224, 23%, 55%);
      box-shadow: none;
    }
  }
}

.attribution {
  position: absolute;
  bottom: -3rem;
  width: 100%;
  text-align: center;
}
