// # Front-end Style Guide
// ## Layout
// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Desaturated Red: hsl(0, 36%, 70%)
// - Soft Red: hsl(0, 93%, 68%)

// ### Neutral
// - Dark Grayish Red: hsl(0, 6%, 24%)

// ### Gradients
// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

// ## Typography
// ### Body Copy
// - Font size: 16px
// ### Font
// - Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
// - Weights: 300, 400, 600

@import 'variables';

* {
  font-size: concat($font-size, 'px');
  font-family: 'Josefin Sans', sans-serif;
  color: $color-desaturated-red;
}

.main {
  height: 100vh;
  &__logo {
    margin: 2rem 2rem 2rem 2.5rem;
    width: 7.5rem;
  }
  &__background {
    background-image: url('../../images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 18rem;
  }
  &__wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__title {
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-weight: 400;
    margin-top: 4rem;
    &--important {
      color: $color-dark-grayish-red;
    }
  }
  &__text {
    font-weight: 300;
    line-height: 1.7rem;
    margin: 1rem 0 2.5rem;
  }
}
.form {
  position: relative;
  height: 5rem;

  &__email {
    padding: 1rem 8.5rem 1rem 1.5rem;
    width: 95%;
    border: none;
    border-radius: 2rem;
    outline: 0.1rem solid $color-placeholder;
  }
  &__button {
    position: absolute;
    top: -0.1rem;
    right: 0.5rem;
    padding: 0.94rem 2rem;
    border: none;
    border-radius: 2rem;
    background-color: $color-desaturated-red;
    cursor: pointer;
    box-shadow: -0.5rem 1rem 4rem $color-desaturated-red;
    &:hover {
      background: linear-gradient($linear-gradient-b);
      box-shadow: 0rem 1rem 3.5rem #222;
      opacity: 0.95;
    }
  }
  &__text {
    text-align: left;
    &--error {
      margin: 0.75rem 0 0 2.2rem;
      color: $color-soft-red;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
  &__icon {
    &--error {
      position: absolute;
      top: 0.8rem;
      right: 6rem;
      opacity: 0;
      transition: opacity 1s;
    }
  }
}

.error {
  & .form__text--error {
    opacity: 1;
  }
  & .form__icon--error {
    opacity: 1;
  }
}

.d-block {
  display: block;
}

/* Edge */
::-webkit-input-placeholder {
  color: $color-placeholder;
}

/* Internet Explorer */
:-ms-input-placeholder {
  color: $color-placeholder;
}

::placeholder {
  color: $color-placeholder;
}

.attribution {
  text-align: center;
  padding-bottom: 1rem;
  &__text {
    color: $color-dark-grayish-red;
  }
  &__link {
    color: $color-dark-grayish-red;
  }
}

@media (min-width: $breakpoint-desktop) {
  .main {
    background: url('../../images/bg-pattern-desktop.svg'),
      linear-gradient($linear-gradient-a);
    background-repeat: no-repeat;
    background-size: 60vw 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 5fr 3.7fr;

    &__logo {
      grid-row: 1/2;
      grid-column: 1/2;
      margin-top: 3.5rem;
      margin-left: 11.2vw;
      width: 10rem;
    }
    &__background {
      grid-row: 1/3;
      grid-column: 2/3;
      background-image: url('../../images/hero-desktop.jpg');
      height: 100vh;
    }
    &__wrapper {
      grid-row: 2/3;
      grid-column: 1/2;
      width: 77.5%;
      padding-right: 1.5rem;
      text-align: left;
    }
    &__text {
      margin-left: 0;
      font-weight: 400;
    }
    &__title {
      font-size: 3.8rem;
      letter-spacing: 1.2rem;
      font-weight: 300;
      margin: 6rem 0 1.5rem;
      &--important {
        font-weight: 600;
      }
    }
  }
  .form {
    &__button {
      width: 6.3rem;
    }
  }
}
