$font-size: 15;

$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);
$color-very-dark-blue: hsl(234, 12%, 34%);
$color-grayish-blue: hsl(229, 6%, 66%);
$color-very-light-gray: hsl(0, 0%, 98%);

$width-card: pxToRem(335);
$breakpoint-desktop: pxToRem(1100);

$height-card: pxToRem(247);
$height-card-grid: pxToRem(247/2);
