// # Front-end Style Guide
// ## Layout
// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Red: hsl(0, 78%, 62%)
// - Cyan: hsl(180, 62%, 55%)
// - Orange: hsl(34, 97%, 64%)
// - Blue: hsl(212, 86%, 64%)

// ### Neutral
// - Very Dark Blue: hsl(234, 12%, 34%)
// - Grayish Blue: hsl(229, 6%, 66%)
// - Very Light Gray: hsl(0, 0%, 98%)

// ## Typography
// ### Body Copy
// - Font size: 15px
// ### Fonts
// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 200, 400, 600

@import 'functions';
@import 'variables';

* {
  font-size: concat($font-size, 'px');
  font-family: 'Poppins', sans-serif;
}

.main {
  position: relative;
  display: grid;
  grid-template-areas: 'main-wrapper' 'footer';

  height: 100vh;
  overflow-y: auto;
  background-color: $color-very-light-gray;
  color: $color-very-dark-blue;
  &__wrapper {
    grid-area: main-wrapper;
  }
  &__header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
  }
  &__title {
    font-size: 1.7rem;
    margin: 3rem 0 0.5rem;
    font-weight: 200;
    &--strong {
      margin: 0 0 1rem;
      font-weight: 600;
    }
  }
  &__text {
    margin: 0 0 5rem;
    line-height: 1.75rem;
    color: $color-grayish-blue;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1.5fr 2fr;
  border-radius: 0.5rem;
  width: $width-card;
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  background-color: $color-very-light-gray;
  box-shadow: 0 0.01rem 5rem $color-grayish-blue;
  overflow: hidden;
  transition: transform 1s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  &__border {
    position: absolute;
    width: 100%;
    border-top: 0.3rem solid;
    &--supervisor {
      border-color: $color-cyan;
    }
    &--tema-builder {
      border-color: $color-red;
    }
    &--karma {
      border-color: $color-orange;
    }
    &--calculator {
      border-color: $color-blue;
    }
  }
  &__title {
    font-size: 1.5rem;
    grid-row: 1/2;
    grid-column: 1/-1;
    margin: 0.25rem 0 0.5rem;
  }
  &__text {
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-top: 0;
    line-height: 1.75rem;
    color: $color-grayish-blue;
  }
  &__icon {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: end;
    margin-bottom: 0.5rem;
  }
}

.attribution {
  grid-area: footer;
  text-align: center;
}

@media (min-width: $breakpoint-desktop) {
  .main {
    &__header {
      width: pxToRem(520);
      text-align: center;
    }
    &__title {
      font-size: 2.3rem;
      margin-top: 4rem;
      &--strong {
        margin-top: 0.5rem;
      }
    }
    &__text {
      margin-bottom: 2rem;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: $width-card $width-card $width-card;
    grid-template-rows: $height-card-grid $height-card-grid $height-card-grid $height-card-grid;
    gap: 2rem;
    justify-content: center;
  }
  .card {
    height: $height-card;
    &--supervisor {
      grid-row: 2/4;
      grid-column: 1/2;
    }
    &--tema-builder {
      grid-row: 1/3;
      grid-column: 2/3;
    }
    &--karma {
      grid-row: 3/5;
      grid-column: 2/3;
      align-self: end;
    }
    &--calculator {
      grid-row: 2/4;
      grid-column: 3/4;
    }
  }
}
