// # Front-end Style Guide
// ## Layout
// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Red: hsl(0, 78%, 62%)
// - Cyan: hsl(180, 62%, 55%)
// - Orange: hsl(34, 97%, 64%)
// - Blue: hsl(212, 86%, 64%)

// ### Neutral
// - Very Dark Blue: hsl(234, 12%, 34%)
// - Grayish Blue: hsl(229, 6%, 66%)
// - Very Light Gray: hsl(0, 0%, 98%)

// ## Typography
// ### Body Copy
// - Font size: 15px
// ### Fonts
// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 200, 400, 600

@import 'functions';
@import 'variables';

* {
  font-size: concat($font-size, 'px');
  font-family: 'Poppins', sans-serif;
}

.main {
  position: relative;
  display: grid;
  grid-template-areas: 'main-wrapper' 'footer';
  // margin: 2rem 0;
  background-color: $color-very-light-gray;
  color: $color-very-dark-blue;
  &__wrapper {
    // width: 50%;
    grid-area: main-wrapper;
  }
  &__header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 200;
    &--strong {
      margin-bottom: 1rem;
      font-weight: 600;
    }
  }
  &__text {
    margin: 0 0 5rem;
    line-height: 1.75rem;
    color: $color-grayish-blue;
  }
}
.cards {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1.5fr 2fr;
  border-radius: 0.5rem;
  width: pxToRem(335);
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 0.01rem 5rem $color-grayish-blue;
  overflow: hidden;
  &__border {
    position: absolute;
    width: 100%;
    border-top: 0.3rem solid;
    &--supervisor {
      border-color: $color-cyan;
    }
    &--tema-builder {
      border-color: $color-red;
    }
    &--karma {
      border-color: $color-orange;
    }
    &--calculator {
      border-color: $color-blue;
    }
  }
  &__title {
    font-size: 1.5rem;
    grid-row: 1/2;
    grid-column: 1/-1;
    margin: 0.25rem 0 0.5rem;
  }
  &__text {
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-top: 0;
    line-height: 1.75rem;
    color: $color-grayish-blue;
  }
  &__icon {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: end;
    margin-bottom: 0.5rem;
  }
}

.attribution {
  grid-area: footer;
  text-align: center;
}
