// # Front-end Style Guide
// ## Layout
// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Orange: hsl(25, 97%, 53%)
// ### Neutral
// - White: hsl(0, 0%, 100%)
// - Light Grey: hsl(217, 12%, 63%)
// - Medium Grey: hsl(216, 12%, 54%)
// - Dark Blue: hsl(213, 19%, 18%)
// - Very Dark Blue: hsl(216, 12%, 8%)

// ## Typography
// ### Body Copy
// - Font size (paragraph): 15px

// ### Font
// - Family: [Overpass](https://fonts.google.com/specimen/Overpass)
// - Weights: 400, 700

@import 'variables';
@import 'functions';
@import 'mixins';

* {
  font-size: concat($font-size, 'px');
  font-family: 'Overpass', sans-serif;
}

.main {
  display: grid;
  grid-template-areas: 'card' 'card' 'card' 'card' 'card' 'footer';
  min-height: 100vh;
  color: $color-white;
  background-color: $color-very-dark-blue;
}

%card {
  width: pxToRem($width-card);
  height: pxToRem(390);
  border-radius: 1rem;
  padding: 2rem 1.75rem;
}

.card {
  position: relative;
  grid-area: card;
  place-self: center;
  @extend %card;
  background-color: $color-card;
  overflow: hidden;
  &__icon {
    @include circle;
  }
  &__title {
    font-size: 1.7rem;
    &--anwser {
      margin: pxToRem(30) 0 0;
    }
  }
  &__text {
    line-height: 1.5rem;
    color: $color-light-grey;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 0.9rem;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    color: inherit;
    background-color: $color-orange;
    font-weight: 700;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    &:hover {
      color: $color-orange;
      background-color: $color-white;
    }
  }

  &__question {
    position: absolute;
    top: 0;
    left: 0;
    @extend %card;
    transition: all 1s;
  }
  &__answer {
    position: absolute;
    top: 0;
    left: pxToRem($width-card);
    @extend %card;
    text-align: center;
    transition: left 1s;
  }
  &.sent {
    .card__question {
      // left: inherit;
      // right: pxToRem($width-card);
      left: pxToRem(-$width-card);
    }
    .card__answer {
      left: 0;
    }
  }

  &__feedback {
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 400;
    color: $color-orange;
    background-color: $color-dark-blue;
    opacity: 0.9;
    margin: 1.25rem 0 0;
  }
}

.rated {
  display: flex;
  padding: 1rem 0 2rem;
  justify-content: space-between;
  &__item {
    @include circle(1rem, 1.2rem, true);
    transition: color 0.5s, background-color 0.5s, transform 0.3s;
    &:hover {
      font-weight: 700;
      color: $color-white;
      background-color: $color-orange;
    }

    &:active {
      transform: scale(0.7);
    }
  }
  &__input {
    display: none;
    &:checked + .rated__item {
      font-weight: 700;
      color: $color-white;
      background-color: $color-light-grey;
    }
  }
}

.attribution {
  grid-area: footer;
  text-align: center;
  &__link {
    color: $color-orange;
  }
}
