// # Front-end Style Guide
// ## Layout

// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Red: hsl(0, 100%, 74%)
// - Green: hsl(154, 59%, 51%)
// ### Accent
// - Blue: hsl(248, 32%, 49%)
// ### Neutral
// - Dark Blue: hsl(249, 10%, 26%)
// - Grayish Blue: hsl(246, 25%, 77%)

// ## Typography
// ### Body Copy
// - Font size: 16px

// ### Font
// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 400, 500, 600, 700

@import 'variables';
@import 'functions';
@import 'mixins';
* {
  font-size: concat($font-size, 'px');
  font-family: 'Poppins', sans-serif;
}

.main {
  padding: 4rem 1.5rem 1.5rem;
  min-height: 100vh;
  // overflow: auto;
  background: $color-red url('../../images/bg-intro-mobile.png');
  background-size: cover;
  color: $color-white;
  &__header {
    text-align: center;
    width: 90%;
    margin: 0 auto 4rem;
  }
  &__title {
    line-height: 2.5rem;
  }
  &__text {
    line-height: 1.5rem;
  }
}

.form {
  &__wrapper {
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: $color-white;
    @include shadowTransparent;
  }
  &__container {
    position: relative;
    text-align: right;
  }
  &__input {
    display: block;
    padding: 1.25rem 3rem 1.25rem 1.25rem;
    margin: 1.25rem 0;
    outline: 0.1rem solid #ccc;
    border: none;
    border-radius: 0.4rem;
    width: 100%;
  }

  &__icon-error {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s;
  }
  &__text {
    color: $color-grayish-blue;
    text-align: center;
    &--error {
      display: none;
      text-align: right;
      color: $color-red;
      margin-top: 0.5rem;
    }
  }
  &__link {
    font-weight: 600;
    text-decoration: none;
    color: red;
  }
}

.form__container.error {
  .form__icon-error {
    opacity: 1;
  }
  .form__text--error {
    display: block;
  }
}

.button {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1.5rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: $color-blue;
  @include shadowTransparent;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;
  @include activeTranslateY($translateY-button);
  &__text {
    width: 70%;
    font-size: 1.3rem;
    margin: 0 auto;
    line-height: 2.2rem;
  }
  &--free-trail {
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 0.075rem;
    font-weight: 600;
    margin-bottom: 0;
    background-color: $color-green;
    box-shadow: 0 $translateY-button--free-trail 0 $color-green-shadow;
    @include activeTranslateY($translateY-button--free-trail);
  }
}

::-webkit-input-placeholder {
  /* Edge */
  font-weight: $font-weight-placeholder;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-weight: $font-weight-placeholder;
}

::placeholder {
  font-weight: $font-weight-placeholder;
}

.attribution {
  text-align: center;
}

@media screen and (min-width: pxToRem(1275)) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-red url('../../images/bg-intro-desktop.png');
    &__wrapper {
      max-width: pxToRem(1275);
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr 1fr;
    }
    &__header {
      grid-row: 1/2;
      grid-column: 1/2;
      align-self: center;
      text-align: left;
      width: 80%;
      margin-top: 5rem;
    }
    &__title {
      font-size: 3rem;
    }
    &__text {
    }
  }
  .footer {
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .attribution {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
