$color-very-dark-grayish-blue: hsl(217, 19%, 35%);
$color-desaturated-dark-blue: hsl(214, 17%, 51%);
$color-grayish-blue: hsl(212, 23%, 69%);
$color-light-grayish-blue: hsl(210, 46%, 95%);
$font-size: 13;
$body-footer-pading: 2.6rem;
$width-avatar: 3.5rem;
$footer-padding: 1.5rem;
