// # Front-end Style Guide
// ## Layout

// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Cyan: hsl(179, 62%, 43%)
// - Bright Yellow: hsl(71, 73%, 54%)
// ### Neutral
// - Light Gray: hsl(204, 43%, 93%)
// - Grayish Blue: hsl(218, 22%, 67%)

// ## Typography
// ### Body Copy
// - Font size: 16px

// ### Font
// - Family: [Karla](https://fonts.google.com/specimen/Karla)
// - Weights: 400, 700

@import 'variables';
@import 'functions';

* {
  font-size: concat($font-size, 'px');
  font-family: 'Karla', sans-serif;
}

.main {
  min-height: 100vh;
  background-color: $color-light-gray;
  padding: 0.05px; //para colapso de margenes entre padre/hijo
}
