// # Front-end Style Guide
// ## Layout

// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Cyan: hsl(179, 62%, 43%)
// - Bright Yellow: hsl(71, 73%, 54%)
// ### Neutral
// - Light Gray: hsl(204, 43%, 93%)
// - Grayish Blue: hsl(218, 22%, 67%)

// ## Typography
// ### Body Copy
// - Font size: 16px

// ### Font
// - Family: [Karla](https://fonts.google.com/specimen/Karla)
// - Weights: 400, 700

@import 'variables';
@import 'functions';
@import 'mixins';

* {
  font-size: concat($font-size, 'px');
  font-family: 'Karla', sans-serif;
}

.main {
  position: relative;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  background-color: $color-light-gray;
  padding: 0.05px 0 3rem;
}

.card {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  justify-self: center;
  max-width: pxToRem(375);
  margin: 1rem auto 0;
  border-radius: 0.4rem;
  box-shadow: 0.75rem 0.75rem 0.9rem #ccc;
  overflow: hidden;
  &__header {
    @include padding-card-container(1.7rem, true);
    background-color: $color-white;
  }
  &__body {
    @include padding-card-container(1.7rem, true);
    background-color: $color-cyan;
    &--right {
      background-color: $color-light-cyan;
    }
  }
  &__title {
    font-size: 1.5rem;
    margin-top: 0;
    color: $color-cyan;
    &--yellow {
      font-size: 1.2rem;
      color: $color-bright-yellow;
    }
  }
  &__text {
    color: $color-light-cyan;
    line-height: 1.8rem;
    &--inherit-color {
      margin: 0 0 2rem;
      font-size: 1.2rem;
      color: inherit;
    }
  }
  &__subtitle {
    font-size: 1.3rem;
    margin-top: 0;
  }
  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: inherit;
    background-color: $color-bright-yellow;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  &__item {
    margin: 0 0 0.25rem;
    color: $color-light-gray;
  }
}

.price {
  display: flex;
  align-items: center;
  &__text {
    margin: 0;
    font-size: 2.3rem;
    font-weight: 700;
    &--month {
      font-size: 1.1rem;
      font-weight: 400;
      margin-left: 1rem;
      color: $color-light-cyan;
    }
  }
}

.attribution {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: end;
  text-align: center;
}

.button {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: inherit;
  background-color: $color-bright-yellow;
  padding: 1rem;
  border-radius: 0.4rem;
  &:active,
  &:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    text-decoration: underline;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 $color-bright-yellow;
    }
  }
}

@media screen and (min-width: pxToRem(850)) {
  .card {
    display: grid;
    grid-template-areas: 'header header' 'left right';
    max-width: pxToRem(750);
    border-radius: 0.7rem;
    &__header {
      @include padding-card-container(3rem);
      grid-area: header;
    }
    &__body {
      @include padding-card-container(3rem);
      grid-area: left;
      &--right {
        grid-area: right;
      }
    }
    &__title {
      font-size: 1.8rem;
      &--yellow {
        font-size: 1.35rem;
      }
    }
    &__text {
      font-size: 1.2rem;
    }
  }
}
