// # Front-end Style Guide
// ## Layout
// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
// - Soft blue: hsl(215, 51%, 70%)
// - Cyan: hsl(178, 100%, 50%)

// ### Neutral
// - Very dark blue (main BG): hsl(217, 54%, 11%)
// - Very dark blue (card BG): hsl(216, 50%, 16%)
// - Very dark blue (line): hsl(215, 32%, 27%)
// - White: hsl(0, 0%, 100%)

// ## Typography
// ### Body Copy
// - Font size (paragraph): 18px
// ### Font
// - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
// - Weights: 300, 400, 600

@function pxToRem($number) {
  @return concat($number / $font-size, 'rem');
}

@function concat($str1, $str2) {
  @return unquote($string: $str1 + $str2);
}

$font-size: 18;

* {
  font-family: 'Outfit', sans-serif;
  font-size: concat($font-size, 'px');
}

.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
}

%hover-text {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.card {
  width: pxToRem(375);
  border-radius: 1rem;
  background-color: hsl(216, 50%, 16%);
  &__container {
    width: pxToRem(325);
    margin-left: auto;
    margin-right: auto;
  }
  &__header {
    position: relative;
    height: pxToRem(325);
    margin-top: pxToRem(25);
    &:hover .card__wrapper-image {
      min-height: pxToRem(325);
      cursor: pointer;
    }
    &:hover .card__icon--view {
      max-height: pxToRem(48);
      transform: rotate(360deg);
      cursor: pointer;
    }
  }
  &__figure {
    margin: 0;
    &--icon {
      position: relative;
    }
  }
  &__wrapper-image {
    position: absolute;
    top: 0rem;
    left: 0rem;
    min-height: 0;
    width: pxToRem(325);
    border-radius: 0.5rem;
    background-color: hsla(178, 100%, 50%, 0.6);
    background-image: url('../images/icon-view.svg');
    transition: min-height 0.3s;
  }
  &__image {
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  &__title {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 700;
    &:hover {
      @extend %hover-text;
    }
  }
  &__text {
    font-weight: 300;
    line-height: 1.6rem;
    font-size: 1.1rem;
    margin-bottom: 0;
    color: hsl(215, 51%, 70%);
    &--price {
      position: absolute;
      top: 0;
      left: 1rem;
      font-weight: 600;
      font-size: 0.9rem;
      color: hsl(178, 100%, 50%);
    }
    &--days {
      position: absolute;
      font-size: 0.9rem;
      top: 0;
      right: 0;
    }
    &--author {
      color: hsl(0, 0%, 100%);

      &:hover {
        @extend %hover-text;
      }
    }
    &--footer {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
  &__stats {
    position: relative;
    height: 3rem;
  }
  &__icon {
    position: absolute;
    top: 1.2rem;
    &--clock {
      left: 12.8rem;
      top: 1.2rem;
    }
    &--view {
      top: 43%;
      left: 43%;
      max-height: 0;
      transition: transform 0.5s;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    padding: 0.65rem 0;
    border-top: pxToRem(1) solid hsl(215, 32%, 27%);
    padding: 1rem 0 1.5rem 0;
  }

  &__avatar {
    width: 2rem;
    border: pxToRem(1) solid hsl(0, 0%, 100%);
    border-radius: 50%;
  }
}

.attribution {
  position: absolute;
  bottom: -3rem;
  width: 100%;
  text-align: center;
}

// change 375px to 415px (375px it's to small)
@media (min-width: pxToRem(415)) {
  .card {
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5),
      -1rem -1rem 5rem rgba(0, 0, 0, 0.5);
  }
  .attribution {
    bottom: 3rem;
  }
}
